In [1]:
a=5
b=4
print (a+b)

9

In [2]:
a='5'
b='4'
print (a+b)

54

In [3]:
Data="The cow jumped over the moon . "
Data.split()

['The', 'cow', 'jumped', 'over', 'the', 'moon', '.']

In [4]:
Data="The cow jumped over the moon ."
Data.split(" ",3)

#split works with string

['The', 'cow', 'jumped', 'over the moon .']

In [5]:
Data="The cow jumped over the moon ."
Data.split(" ", 0)

['The cow jumped over the moon .']

In [6]:
a=7
b=3
a/b

2.3333333333333335

In [7]:
-7//3

-3

In [8]:
7/3

2.3333333333333335

In [9]:
-7/3

-2.3333333333333335

In [10]:
7//3

2

In [11]:
-10//3

-4

In [12]:
#comparison operator gives boolean answer.
2!=5

True

In [13]:
2>5

False

In [14]:
2<5

True

In [15]:
True or False

True

In [16]:
True and False

False

In [17]:
not True

False

In [18]:
5!=5

False

In [20]:
#use to let the user enter a number/ command/ question
#input ()
name=input("Enter your name ")
print("Hello ",name)

Enter your name DAMMIE
Hello  DAMMIE

In [29]:
a=10
b="Dollars"

print(str(a) +" " + b)

10 Dollars

In [33]:
a=2.3
b="dollars"
print (a+float(b))

ValueError: could not convert string to float: 'dollars'

In [34]:
Data="I like bananas"
Data.replace("bananas", "apples")

'I like apples'

In [36]:
Data="one one was a race horse, two two was  one too"
Data.replace("one","three",2)

'three three was a race horse, two two was  one too'

In [38]:
#convert Fahrenheit to Celsius
Fa=float(input("put the Fahrenheit temperature ")) 
Clu=(Fa -32)*5/9
print(Fa, "Fahrenheit in Celsius is", Clu)

put the Fahrenheit temperature 45
45.0 Fahrenheit in Celsius is 7.222222222222222

In [2]:
#Len functions: It returns the number of element in an object.
#They look for the length of variables, like how many elements.
a=("Algeria")
print(len(a))

7

In [6]:
#Max function: it finds the greatest element in a list. 
#ususlly use in list, can be use for integers and for string not applicable to boolean/
#the function works differently in string and integers
var=["damilola", "chinazao", "christiana", "regina","chioma", "agnes", "chinazad", "chisom", "comfort"]
print(max(var))

regina

In [8]:
b=[50,140,12,58,25,46,120,147,150,47]
print(max(b))

150

In [12]:
print(min(b))

12

In [11]:
var=["damilola", "chinazao", "christiana", "regina","chioma", "agnes", "chinazad", "chisom", "comfort"]
print(min(var))

agnes

In [13]:
print(len(var))

9

In [14]:
#sorted: it return a copy of the list from smallest to largest. its's like usin arrange to arrange numbers
print(sorted(b))

[12, 25, 46, 47, 50, 58, 120, 140, 147, 150]

In [18]:
#join: It's a string function that takes a list of string as an argument and return that string in split
#break our list into element
d=" In ".join(["day", "data", "is", "ordered"])
print(d)

day In data In is In ordered

In [20]:
x="-".join(["day", "data", "is", "ordered"])
print(x)

day-data-is-ordered

In [35]:
#Append: to add an element to the end of a list.
count = ["nig", "gha", "eng"]
count.append("togo")
count

['nig', 'gha', 'eng', 'togo']

In [33]:
country= ["nig", "gha", "eng", "usa"]
country + ["porto"]
print(country)

['nig', 'gha', 'eng', 'usa']

In [45]:
#to capitalize the element
count = "nig", "gha", "eng"
count.upper()
#print(capitalize(count))

AttributeError: 'tuple' object has no attribute 'upper'

In [42]:
p="pineapple"
p.upper()

'PINEAPPLE'

In [50]:
u="university"
print(capitalize(u))

NameError: name 'capitalize' is not defined

In [52]:
#Format: it is use to link strings together
maria="maria likes {} and {}"
print(maria.format("dog", "food"))

maria likes dog and food